<div class="wrapper row4">
  <div id="container" class="clear">
    
    <div id="content">
      <h1 class="title">Contact us</h1>
      <div class="imgholder"><a href="~/viewer/img/sajidb.jpg" rel="gallery"  class="pirobox_gall" title="Sun salutation."><img style="height:215px;width:440px" src="~/viewer/img/sajid.jpg"  /></a></div>
      <div class="foot_contact">
      <h2 style="text-align:left">Punjab University</h2>
      <address>
      P.O. Box No. 54590. Lahore, Pakistan.<br />
      P.O. Box. No. 54000. Lahore, Pakistan.<br />
      Lahore Pakistan<br />
      54000
      </address>
      <ul>
        <li><strong>Tel:</strong> 092-42-990161205</li>
         <li><strong>Mobile:</strong> 0321-9569028</li>
        <li><strong>Fax:</strong> 92-42-99231101 </li>
        <li class="last"><strong>Email:</strong> <a href="#">sajidkhalid84@gmail.com</a></li>
      </ul>
    </div>
    </div>
    <!-- ####################################################################################################### -->
  </div>
</div>
